<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Template name="pvw.scene.courtyard.item.044" label="四合院.文物">
    <Renderables count="1">
      <Renderable model="\pvw\sc.courtyard\item.044" geometry="ms_044" material="\pvw\sc.courtyard\044" />
    </Renderables>
  </Template>
</Configuration>