<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Template name="\g3\chr\ply\race.001\001" label="基础" Loaded="1">
    <Renderables count="2">
      <Renderable id="0" model="\g3\chr\ply\race.001\001" geometry="ms_001" material="\g3\chr\ply\race.001\001" />
      <Renderable id="0" model="\g3\chr\ply\race.001\001" geometry="ms_002" material="\g3\chr\ply\race.001\002" />
    </Renderables>
  </Template>
</Configuration>