<?xml version="1.0" encoding="utf-8"?>
<Scene version="1.0">
  <Technique name="shadow" />
  <Region>
    <Color r="0.4823529" g="0.5686275" b="0.7568628" power="1" />
    <ColorLevel r="0" g="0" b="0" power="0" />
    <Fog near="0" far="0" rate="2.1795" attenuation="0" r="0.007843138" g="0.8509804" b="1" power="1" />
    <Edge rate="0.0001" level="1" width="0.1" r="1" g="1" b="1" power="1" />
    <Face range="0" limit="0" rate="0" />
    <Camera type_name="perspective">
      <Center front="1" back="0" />
      <Position x="120.5067" y="24.64589" z="46.2391" />
      <Direction x="0.02664646" y="-0.2089054" z="0.9775727" />
      <Focal near="0" far="0" />
      <Viewport angle="45" near="0.1" far="200" />
    </Camera>
    <Light type_name="directional" option_track="0">
      <Shadow base1="3.42E-06" rate1="0.1" level1="0.00705" range1="0.833" base2="6.8E-06" rate2="0" level2="0" range2="0" base3="0" rate3="0" level3="0" range3="0" ambient_min="0" ambient_max="0" ambient_thick="0" ambient_range="0" merge1_base="0" merge1_rate="0" merge2_base="0" merge2_rate="0" />
      <Material name="" effect_name="" option_alpha="0" option_double="0" option_border="0" option_opacity="0" option_shadow="2" option_symmetry="0" option_transmittance="0" option_height="0">
        <Coord rate_width="1" rate_height="1" />
        <Color min="0" max="1" rate="0.97" merge="1" />
        <Alpha base="0.2" rate="1" level="1" merge="0.982" />
        <Ambient r="0.9607843" g="0.9882353" b="0.9372549" power="0.77" shadow="0.269" />
        <Diffuse r="1.011765" g="0.9882353" b="1.011765" power="0.77" shadow="0.66" />
        <DiffuseView r="0.972549" g="0.9882353" b="0.9411765" power="0.83" shadow="0.904" />
        <Specular r="1.015686" g="1.011765" b="1.035294" power="1.09" base="1" rate="28.21" average="0.0641" shadow="1" />
        <SpecularView r="0.9882353" g="0.9882353" b="0.9882353" power="0.96" base="0.4038" rate="48.72" average="0.0833" shadow="1" />
        <Reflect r="1" g="1" b="1" power="1" merge="1" shadow="1" />
        <RefractFront r="1" g="1" b="1" power="1" />
        <RefractBack r="1" g="1" b="1" power="0.1" />
        <Opacity r="1" g="1" b="1" power="1" rate="0.2" alpha="1" depth="0" transmittance="0" />
        <Emissive r="1" g="1" b="1" power="0" />
        <Height depth="0.001" />
        <Surface rate="1" reflect="1" bright="1" bright_level="1" coarse="1" coarse_level="1" merge="1" power="1" />
      </Material>
      <Camera type_name="perspective">
        <Center front="1" back="0" />
        <Position x="173.7" y="80" z="62.9" />
        <Direction x="-0.557" y="-0.829" z="-0.031" />
        <Focal near="0" far="0" />
        <Viewport angle="45" near="0.1" far="200" />
      </Camera>
    </Light>
  </Region>
  <Map>
    <Display source="pvw.showcase.001">
      <Matrix translation="120,0,60" rotation="0,0,0" scale="0.0041,0.0041,0.0041" />
    </Display>
  </Map>
  <Space>
    <Display source="pvw.show.parallax.001">
      <Matrix translation="120,17.0685,60" rotation="0,0,0" scale="0.3872997,0.3872997,0.3872997" />
    </Display>
  </Space>
</Scene>