<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture name="pvw.show.013.01" label="女精灵动画">
    <Bitmap type="alpha" source="alpha.jpg" />
    <Bitmap type="diffuse" source="diffuse.jpg" />
    <Bitmap type="normal" source="normal.jpg" />
    <Bitmap type="specular.level" source="specular.level.jpg" />
  </Texture>
</Configuration>