<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture name="pvw.show.012.03" label="女人">
    <Bitmap type="diffuse" source="diffuse.jpg" />
    <Bitmap type="normal" source="normal.jpg" />
    <Bitmap type="specular.level" source="specular.level.jpg" />
    <Bitmap type="transmittance.color" source="transmittance.color.jpg" />
    <Bitmap type="transmittance.level" source="transmittance.level.jpg" />
  </Texture>
</Configuration>