<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture name="pvw.showcase.006.07" label="体积光.树林">
    <Bitmap type="alpha" source="alpha.jpg" />
    <Bitmap type="diffuse" source="diffuse.jpg" />
    <Bitmap type="normal" source="normal.jpg" />
    <Bitmap type="specular.level" source="specular.level.jpg" />
  </Texture>
</Configuration>