<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Model name="\pvw\scene.courtyard\item.044" src="model.swf">
    <MaterialCollection />
    <Mesh>
      <Geometry valid="Y" name="ms_009" material="\pvw\sc.house.03\009" />
      <Geometry valid="Y" name="ms_010" material="\pvw\sc.house.03\010" />
      <Geometry valid="Y" name="ms_011" material="\pvw\sc.house.03\011" />
      <Geometry valid="Y" name="ms_012" material="\pvw\sc.house.03\012" />
    </Mesh>
  </Model>
</Configuration>