<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Model name="\pvw\showcase\002" src="model.swf">
    <MaterialCollection />
    <Mesh>
      <Geometry valid="Y" name="ms_031_001" material="\pvw\showcase\002.31" />
      <Geometry valid="Y" name="ms_031_002" material="\pvw\showcase\002.31" />
      <Geometry valid="Y" name="ms_032_001" material="\pvw\showcase\002.32" />
      <Geometry valid="Y" name="ms_034_001" material="\pvw\showcase\002.34" />
      <Geometry valid="Y" name="ms_035_001" material="\pvw\showcase\002.35" />
      <Geometry valid="Y" name="ms_036_001" material="\pvw\showcase\002.36" />
    </Mesh>
  </Model>
</Configuration>