<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Template name="\com\design\translation" label="平移" Loaded="1">
    <Renderables count="3">
      <Renderable id="0" model="\com\design\translation" geometry="ms_translation_x" material="\com\design\translation.x" />
      <Renderable id="0" model="\com\design\translation" geometry="ms_translation_y" material="\com\design\translation.y" />
      <Renderable id="0" model="\com\design\translation" geometry="ms_translation_z" material="\com\design\translation.z" />
    </Renderables>
  </Template>
</Configuration>