<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Texture name="g3.chr.npc.race.001.001" label="身体" exprotType="Layers">
    <Bitmap type="diffuse" source="diffuse.jpg" />
    <Bitmap type="normal" source="normal.jpg" />
    <Bitmap type="specular" source="specular.jpg" />
  </Texture>
</Configuration>