<?xml version="1.0" encoding="GB2312"?>
<Configuration version="1.0">
   <Model name='pvw\scene.house.010\dec'>
      <Mesh>
         <Geometry valid='Y' name='ms_001_001' material='\pvw\sc.house.02\dec\008' />
         <Geometry valid='Y' name='ms_001_002' material='\pvw\sc.house.02\dec\040' />
      </Mesh>
   </Model>
</Configuration>
