<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Template name="\pvw\show\item.002" label="金属文物" option_loaded="0" option_select="0" option_merge="0" option_light_map="0">
    <Renderables count="7">
      <Renderable id="1" model="\pvw\show\item.002" geometry="ms_001_001" material="\pvw\show\002.01" light_map="" option_select="0" option_ground="0" option_bone_scale="0" option_instnaced="0" instnace_count="1" />
      <Renderable id="2" model="\pvw\show\item.002" geometry="ms_001_002" material="\pvw\show\002.01" light_map="" option_select="0" option_ground="0" option_bone_scale="0" option_instnaced="0" instnace_count="1" />
      <Renderable id="3" model="\pvw\show\item.002" geometry="ms_001_003" material="\pvw\show\002.01" light_map="" option_select="0" option_ground="0" option_bone_scale="0" option_instnaced="0" instnace_count="1" />
      <Renderable id="4" model="\pvw\show\item.002" geometry="ms_001_004" material="\pvw\show\002.01" light_map="" option_select="0" option_ground="0" option_bone_scale="0" option_instnaced="0" instnace_count="1" />
      <Renderable id="5" model="\pvw\show\item.002" geometry="ms_001_005" material="\pvw\show\002.01" light_map="" option_select="0" option_ground="0" option_bone_scale="0" option_instnaced="0" instnace_count="1" />
      <Renderable id="6" model="\pvw\show\item.002" geometry="ms_001_006" material="\pvw\show\002.01" light_map="" option_select="0" option_ground="0" option_bone_scale="0" option_instnaced="0" instnace_count="1" />
      <Renderable id="7" model="\pvw\show\item.002" geometry="ms_002" material="\pvw\show\002.02" light_map="" option_select="0" option_ground="0" option_bone_scale="0" option_instnaced="0" instnace_count="1" />
    </Renderables>
    <Animation />
  </Template>
</Configuration>