<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Template name="\pvw\show\item.011" label="玉蛙" option_loaded="0" option_select="0" option_merge="0" option_light_map="0">
    <Renderables count="1">
      <Renderable id="1" model="\pvw\show\item.011" geometry="ms_001" material="\pvw\show\011.01" light_map="" option_select="0" option_ground="0" option_bone_scale="0" option_instnaced="0" instnace_count="1" />
    </Renderables>
    <Animation />
  </Template>
</Configuration>