<?xml version="1.0" encoding="GB2312"?>
<Configuration version="1.0">
   <Model name='show.001'>
      <Mesh>
         <Geometry valid='Y' name='ms_001_001' material='\pvw\sc.car.01\004.01' />
         <Geometry valid='Y' name='ms_002_001' material='\pvw\sc.car.01\004.02' />
         <Geometry valid='Y' name='ms_003_001' material='\pvw\sc.car.01\004.03' />
         <Geometry valid='Y' name='ms_003_002' material='\pvw\sc.car.01\004.03' />
         <Geometry valid='Y' name='ms_003_003' material='\pvw\sc.car.01\004.03' />
         <Geometry valid='Y' name='ms_003_004' material='\pvw\sc.car.01\004.03' />
         <Geometry valid='Y' name='ms_003_005' material='\pvw\sc.car.01\004.03' />
         <Geometry valid='Y' name='ms_003_006' material='\pvw\sc.car.01\004.03' />
         <Geometry valid='Y' name='ms_004_001' material='\pvw\sc.car.01\004.04' />
         <Geometry valid='Y' name='ms_005_001' material='\pvw\sc.car.01\004.05' />
         <Geometry valid='Y' name='ms_005_002' material='\pvw\sc.car.01\004.05' />
         <Geometry valid='Y' name='ms_006_001' material='\pvw\sc.car.01\004.06' />
         <Geometry valid='Y' name='ms_006_002' material='\pvw\sc.car.01\004.06' />
         <Geometry valid='Y' name='ms_007_001' material='\pvw\sc.car.01\004.07' />
         <Geometry valid='Y' name='ms_008_001' material='\pvw\sc.car.01\004.08' />
         <Geometry valid='Y' name='ms_008_002' material='\pvw\sc.car.01\004.08' />
         <Geometry valid='Y' name='ms_008_003' material='\pvw\sc.car.01\004.08' />
         <Geometry valid='Y' name='ms_008_004' material='\pvw\sc.car.01\004.08' />
         <Geometry valid='Y' name='ms_008_005' material='\pvw\sc.car.01\004.08' />
         <Geometry valid='Y' name='ms_008_006' material='\pvw\sc.car.01\004.08' />
         <Geometry valid='Y' name='ms_009_001' material='\pvw\sc.car.01\004.09' />
         <Geometry valid='Y' name='ms_010_001' material='\pvw\sc.car.01\004.10' />
         <Geometry valid='Y' name='ms_010_002' material='\pvw\sc.car.01\004.10' />
         <Geometry valid='Y' name='ms_010_003' material='\pvw\sc.car.01\004.10' />
         <Geometry valid='Y' name='ms_010_004' material='\pvw\sc.car.01\004.10' />
         <Geometry valid='Y' name='ms_010_005' material='\pvw\sc.car.01\004.10' />
         <Geometry valid='Y' name='ms_011_001' material='\pvw\sc.car.01\004.11' />
         <Geometry valid='Y' name='ms_011_002' material='\pvw\sc.car.01\004.11' />
         <Geometry valid='Y' name='ms_012_001' material='\pvw\sc.car.01\004.12' />
         <Geometry valid='Y' name='ms_012_002' material='\pvw\sc.car.01\004.12' />
         <Geometry valid='Y' name='ms_012_003' material='\pvw\sc.car.01\004.12' />
         <Geometry valid='Y' name='ms_013_001' material='\pvw\sc.car.01\004.13' />
         <Geometry valid='Y' name='ms_021_001' material='\pvw\sc.car.01\004.21' />
         <Geometry valid='Y' name='ms_022_001' material='\pvw\sc.car.01\004.22' />
      </Mesh>
   </Model>
</Configuration>
