<?xml version="1.0" encoding="GB2312"?>
<Configuration version="1.0">
   <Model name='pvw\sc.house.02\dec'>
      <Mesh>
         <Geometry valid='Y' name='ms_001_001' material='\pvw\sc.house.02\dec\058' />
         <Geometry valid='Y' name='ms_001_002' material='\pvw\sc.house.02\dec\003' />
         <Geometry valid='Y' name='ms_001_003' material='\pvw\sc.house.02\dec\002' />
         <Geometry valid='Y' name='ms_001_004' material='\pvw\sc.house.02\dec\001' />
      </Mesh>
   </Model>
</Configuration>
