<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Template name="pvw.scene.car.car.001" label="汽车.奥迪">
    <Renderables count="97">
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_001" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_002" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_004" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_005" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_006" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_007" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_008" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_009" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_010" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_011" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_012" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_013" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_014" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_015" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_016" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_017" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_018" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_019" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_020" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_021" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_022" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_001_023" material="\pvw\sc.car.01\001.01" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_001" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_004" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_005" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_006" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_007" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_008" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_009" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_010" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_011" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_012" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_013" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_014" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_015" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_016" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_017" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_018" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_019" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_020" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_021" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_002_022" material="\pvw\sc.car.01\001.02" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_003_001" material="\pvw\sc.car.01\001.03" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_003_002" material="\pvw\sc.car.01\001.03" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_003_003" material="\pvw\sc.car.01\001.03" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_003_004" material="\pvw\sc.car.01\001.03" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_003_005" material="\pvw\sc.car.01\001.03" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_003_006" material="\pvw\sc.car.01\001.03" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_003_007" material="\pvw\sc.car.01\001.03" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_003_008" material="\pvw\sc.car.01\001.03" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_003_009" material="\pvw\sc.car.01\001.03" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_003_010" material="\pvw\sc.car.01\001.03" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_003_011" material="\pvw\sc.car.01\001.03" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_003_012" material="\pvw\sc.car.01\001.03" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_003_013" material="\pvw\sc.car.01\001.03" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_003_015" material="\pvw\sc.car.01\001.03" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_006_001" material="\pvw\sc.car.01\001.06" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_006_002" material="\pvw\sc.car.01\001.06" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_006_003" material="\pvw\sc.car.01\001.06" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_006_004" material="\pvw\sc.car.01\001.06" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_006_005" material="\pvw\sc.car.01\001.06" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_006_006" material="\pvw\sc.car.01\001.06" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_006_007" material="\pvw\sc.car.01\001.06" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_006_008" material="\pvw\sc.car.01\001.06" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_006_009" material="\pvw\sc.car.01\001.06" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_006_010" material="\pvw\sc.car.01\001.06" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_006_011" material="\pvw\sc.car.01\001.06" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_006_012" material="\pvw\sc.car.01\001.06" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_007_001" material="\pvw\sc.car.01\001.07" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_007_002" material="\pvw\sc.car.01\001.07" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_007_003" material="\pvw\sc.car.01\001.07" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_007_004" material="\pvw\sc.car.01\001.07" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_007_005" material="\pvw\sc.car.01\001.07" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_007_006" material="\pvw\sc.car.01\001.07" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_008_001" material="\pvw\sc.car.01\001.08" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_008_002" material="\pvw\sc.car.01\001.08" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_008_003" material="\pvw\sc.car.01\001.08" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_008_004" material="\pvw\sc.car.01\001.08" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_008_005" material="\pvw\sc.car.01\001.08" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_009_001" material="\pvw\sc.car.01\001.09" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_009_002" material="\pvw\sc.car.01\001.09" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_010_001" material="\pvw\sc.car.01\001.10" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_010_002" material="\pvw\sc.car.01\001.10" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_010_003" material="\pvw\sc.car.01\001.10" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_011_001" material="\pvw\sc.car.01\001.11" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_011_002" material="\pvw\sc.car.01\001.11" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_012_001" material="\pvw\sc.car.01\001.12" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_012_002" material="\pvw\sc.car.01\001.12" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_012_003" material="\pvw\sc.car.01\001.12" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_012_004" material="\pvw\sc.car.01\001.12" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_012_005" material="\pvw\sc.car.01\001.12" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_012_006" material="\pvw\sc.car.01\001.12" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_012_007" material="\pvw\sc.car.01\001.12" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_012_008" material="\pvw\sc.car.01\001.12" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_012_009" material="\pvw\sc.car.01\001.12" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_012_010" material="\pvw\sc.car.01\001.12" />
      <Renderable model="\pvw\sc.car.01\001" geometry="ms_013_001" material="\pvw\sc.car.01\001.13" />
    </Renderables>
  </Template>
</Configuration>