<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Model name="\pvw\show\item.001" label="陶瓷文物">
    <Mesh>
      <Geometry valid="Y" name="ms_all" material="\pvw\show\001.01" option_instanced="0" option_dynamic="0" option_bone_scale="0" option_shadow="2" option_self_shadow="2" option_normal="2" option_light="0" option_double="0" option_symmetry="0" option_transmittance="0" option_select="0" option_ground="0" instance_count="10" />
    </Mesh>
    <Animation />
  </Model>
</Configuration>