<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Template name="pvw.scene.courtyard.item.047" label="四合院.文物">
    <Renderables count="1">
      <Renderable model="\pvw\sc.courtyard\item.047" geometry="ms_047" material="\pvw\sc.courtyard\047" />
    </Renderables>
  </Template>
</Configuration>